body {
  width: 100vw;
  height: 100vh;
}

.navbar {
  /*justify-items: center;
  align-self: flex-end;*/
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
}

.entete {
  background-color: rgb(229, 147, 177);
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
}
      
.span1 {
  color: rgb(85, 19, 227);
}
      
.span2 {
  color: rgb(48, 254, 7);
}
      
.span3 {
  color: rgb(222, 222, 18);
}
      
h2 {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: black;
  font-style: italic;
}

.facebook {
  width: 13px;
  height: 13px;
}

.instagram {
  width: 13px;
  height: 13px;
}

.welcome {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  text-align: center;
  
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  color: rgb(145, 20, 20);
  font-size: 21px;
  text-align: center;
  
}

.cedric, .sandra, .fernand, .géraude, .josiane {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  text-align: center;
}




/*
- create all pages 
- media queries



*/
