body {
  width: 100%;
  height: 100%;  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.socials {
text-align: right;
margin-top: 1%;
  
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-top: 1%;

}

.span1 {
  color: rgb(85, 19, 227);

}
      
.span2 {
  color: rgb(48, 254, 7);

}
      
.span3 {
  color: rgb(222, 222, 18);

}

.nav-link {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 8px;
  
}

a, .nav-link {
  text-decoration: none;
  color: rgb(105, 92, 92);

}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: rgb(177, 9, 9);
  font-size: 16px;
  text-align: center;
  text-shadow: 1px 0 2px rgb(105, 74, 74);

}

.studio {
  font-size: 16px;
  text-align: center;

}

img {
  border-radius: 15px;
  box-shadow: 3px 2px 2px rgb(181, 177, 177); 

}

legend {
  font-size: 15px;
 
}

section, footer {
  background-color: rgb(2, 8, 66);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  text-align: center;
  color: rgb(97, 93, 93)

}

.facebook, .instagram {
  width: 30px;
  height: 25px;  

}

@media screen and (min-width: 320px) {

  .nav-link {
    font-size: 13px;
    
  }
  
  h1 {
    font-size: 22px;
  
  }
           
  h2 {
    font-size: 18px;
  
  }  

  
.facebook1, .instagram1 {
  width: 10px;
  height: 10px;  
  right: 5%;

}
}

@media screen and (min-width: 428px) {

  .nav-link {
    font-size: 15px;
    
  }

  .facebook1, .instagram1 {
    width: 15px;
    height: 15px;  
    right: 5%;
  
  }

  h1 {
    font-size: 24px;
  
  }
           
  h2 {
    font-size: 20px;
  
  } 

  legend {
    font-size: 16px;
  } 
}

@media screen and (min-width: 768px) {

  .facebook1, .instagram1 {
    width: 18px;
    height: 18px;
    
  }

  h1 {
    font-size: 30px;
  
  }

  .nav-link {
    font-size: 18px;
    
  }
           
  h2 {
    font-size: 24px;
  
  } 

  .studio, legend {
    font-size: 18px;
  }

  section, footer {
    font-size: 16px;
    
  }

  .facebook, .instagram {
    width: 35px;
    height: 30px;
  
  }
}

@media screen and (min-width: 1024px) {

  .facebook1, .instagram1 {
    width: 22px;
    height: 22px;
    
  }

  h1 {
    font-size: 40px;
  
  }

  .nav-link {
    font-size: 18px;
    
  }
           
  h2 {
    font-size: 32px;
  
  } 

  section, footer {
    font-size: 18px;
    
  }
}

@media screen and (min-width: 1200px) {

  .facebook1, .instagram1 {
    width: 25px;
    height: 25px;
    
  }

  h1 {
    font-size: 45px;
  
  }

  .nav-link {
    font-size: 18px;
    
  }
           
  h2 {
    font-size: 38px;
  
  } 

  .studio, legend {
    font-size: 21px;

  }

  section, footer {
    font-size: 20px;
    
  }
}